html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.chess-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 1200px;
}

.board-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-panel {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

#evaluation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.controls-container {
  flex: 1;
  min-width: 250px;
  max-width: 400px;
}

#pgn-box {
  height: 250px;
  overflow-y: auto;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  width: 100%;
}

#chess_board {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#chess_board > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.piece-417db {
  transition: opacity 0.3s ease-in-out;
}

.pieces-hidden .piece-417db {
  opacity: 0;
}

#evaluation-bar-container {
  height: 495px;
  width: 15px;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #888;
  border: 1px solid #ced4da;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

#evaluation-bar {
  width: 100%;
  background-color: #888;
  position: absolute;
  bottom: 0;
  transition: height 0.3s;
}

.evaluation-tick {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #adb5bd;
}

#evaluation {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.btn-group {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-outline-secondary {
  border-color: #6c757d;
  color: #6c757d;
  padding: 8px 12px;
  font-size: 14px;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: #fff;
}

#difficulty {
  width: 100%;
}

#loading {
  position: absolute;
  margin-top: 10px;
  font-style: italic;
  color: #6c757d;
}

.btn-icon {
  width: 40px;
  height: 40px;
  padding: 6px;
}

.btn-text {
  width: auto;
  height: 40px;
}

/* Hide PGN Box and Evaluation Bar for Mobile Devices */
@media (max-width: 768px) {
  html,
  body {
    position: fixed;
  }

  .container-fluid {
    padding: 10px;
    height: 100%;
    overflow-y: auto; /* Allow scrolling within the container */
  }

  .chess-container {
    gap: 20px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .board-container,
  .side-panel {
    max-width: 100%;
  }

  .board-container {
    width: 100%;
    max-width: none;
    aspect-ratio: 1 / 1;
  }

  .side-panel {
    flex-direction: column;
    align-items: center;
  }

  #loading,
  #pgn-box,
  .pgn-text,
  #evaluation-bar-container {
    display: none;
  }

  #evaluation {
    margin: 0px 0 0 0;
    padding: 0px;
    font-size: 14px;
    line-height: 1;
  }

  .controls-container {
    width: 100%;
    max-width: none;
  }
}
